<p id="notice"><%= notice %></p>

<p>
  <strong>Apartment:</strong>
  <%= @interested_buyer.apartment_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @interested_buyer.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @interested_buyer.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @interested_buyer.phone_number %>
</p>

<%= link_to 'Edit', edit_interested_buyer_path(@interested_buyer) %> |
<%= link_to 'Back', interested_buyers_path %>
