
<%= form_with(model: apartment) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
        <% apartment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Price" %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label "Address" %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label "Number of Bathrooms" %>
    <%= form.select :num_bath, ['1', '2', '3', '4', '5', '6'] %>
  </div>

  <div class="field">
    <%= form.label "Number of Bedrooms" %>

    <%= form.select :num_bdrms, ['1', '2', '3', '4', '5', '6'] %>
  </div>

  <div class="field">
    <%= form.label "Amount of Furniture" %>
    <%= form.select :furniture_amt, ['Fully Furnished', 'Partially Furnished', 'Unfurnished'] %>
  </div>

  <div class="field">
    <%= form.label "Description" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%=form.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

