<%= form_with(model: apartment) do |form| %>
  <% if apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
        <% apartment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :num_bath %>
    <%= form.number_field :num_bath %>
  </div>

  <div class="field">
    <%= form.label :num_bdrms %>
    <%= form.number_field :num_bdrms %>
  </div>

  <div class="field">
    <%= form.label :furniture_amt %>
    <%= form.text_field :furniture_amt %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%=form.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
