<p id="notice"><%= notice %></p>

<h1>Apartments</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Address</th>
      <th>Num bath</th>
      <th>Num bdrms</th>
      <th>Furniture amt</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.price %></td>
        <td><%= apartment.address %></td>
        <td><%= apartment.num_bath %></td>
        <td><%= apartment.num_bdrms %></td>
        <td><%= apartment.furniture_amt %></td>
        <td><%= apartment.description %></td>
        <td><%= apartment.user_id %></td>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment', new_apartment_path %>
