<p id="notice"><%= notice %></p>

<h1>Apartments</h1>

<% @apartments.each do |apartment| %>

  <div class="card" style="width: 50%;">
    <div class="card-body">
      <h5 class="card-title"><%= apartment.address %> </h5>
      <p class="card-text"><%=apartment.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Bedrooms: <%= apartment.num_bdrms %> | Bathrooms: <%= apartment.num_bath %></li>
      <li class="list-group-item">Furniture: <%= apartment.furniture_amt %></li>
      <li class="list-group-item">Price: <%= apartment.price %></li>
    </ul>
    <div class="card-body">
      Contact: <%= User.where(id: apartment.user_id).first.email%>
    </div>
  </div>
<% end %>


