<p id="notice"><%= notice %></p>
<div class="mt-25">
  <h1>Apartments</h1>
</div>

<% @apartments.each do |apartment| %>

  <div class="mx-auto mt-5 card"  style="width: 60%" id="<%=dom_id(apartment)%>">
    <div class="card-body text-primary">
      <h5 class="text-center card-title"><%= apartment.address %> </h5>
      <p class="text-center card-text"><%=apartment.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Bedrooms: <%= apartment.num_bdrms %> | Bathrooms: <%= apartment.num_bath %></li>
      <li class="list-group-item">Furniture: <%= apartment.furniture_amt %></li>
      <li class="list-group-item">Price: $<%= apartment.price %></li>
      

      <% if policy(apartment).edit? %>
        <li class="list-group-item p-3 mb-2"><%= link_to 'Edit', edit_apartment_path(apartment.id) %></li>
      <% end %> 

      <% if policy(apartment).destroy? %>
        <li class="list-group-item p-3 mb-2">
          <%= link_to apartment, method: :delete, remote: true do%>
            <i class="fas fa-trash fa-fw"></i>
          <%end%>
        </li>
      <% end %> 
    </ul>

    <div class="card-body p-3 mb-2 bg-primary text-white">
      Contact: <%= User.where(id: apartment.user_id).first.email%>
    </div>

    
  </div>
<% end %>



